# Copia este archivo a: oci-buckets-ui/.env

# Requeridos
OCI_TENANCY_OCID=ocid1.tenancy.oc1..xxxxx
OCI_USER_OCID=ocid1.user.oc1..xxxxx
OCI_FINGERPRINT=aa:bb:cc:dd:ee:ff:00:11:22:33:44:55:66:77:88:99
OCI_REGION=us-ashburn-1
OCI_COMPARTMENT_OCID=ocid1.compartment.oc1..xxxxx

# Private key: puedes poner el contenido PEM directamente o una ruta.
# Opción A (recomendado): ruta al archivo
OCI_PRIVATE_KEY_PATH=/absolute/path/to/oci_api_key.pem

# Opción B: contenido PEM en una sola línea con \n
# OCI_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----"

# Opcional
OCI_PRIVATE_KEY_PASSPHRASE=

# Puerto del servidor local
PORT=8787

